.tasks-header-container {
	display: flex;
	justify-content: space-between;
	margin-top: 3rem;
	align-items: center;
}
/* .tasks-header-container h1 {
	text-transform: uppercase;
} */

.tasks-header-container a {
	display: flex;

	border: 2px dashed;
	border-radius: 1.8rem;
	padding: 0.6rem;
	align-items: center;
	width: 280px;
	justify-content: center;
}

.tasks-header-container a span {
	font-size: 2.4rem;
	/* margin-right: 1rem; */
}

.tasks-header-container h3 {
	padding: 0.8rem;
}

@media screen and (max-width: 500px) {
	.tasks-header-container {
		flex-direction: column;
	}
	.tasks-header-container h1 {
		margin-bottom: 1.7rem;
	}
}
