.tasks-header-container {
	display: flex;
	justify-content: space-between;
	margin-top: 3.5rem;
}

.tasks-header-container a {
	display: flex;
	margin-right: 20px;
	border: 2px dashed;
	border-radius: 1.7rem;
	padding: 0.7rem;
	align-items: center;
}

.tasks-header-container a span {
	font-size: 2.4rem;
	margin-right: 1rem;
}
